/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
   background-color: #D2B99D;
   padding: 20px;
}

/* FONTS */
@font-face{
   font-family: newsTitle;
   src: url(../fonts/IMFellEnglishSC-Regular.ttf);
}
@font-face {
   font-family: generalFont;
   src: url(../fonts/CreteRound-Regular.ttf);
}
@font-face {
   font-family: theFont;
   src: url(../fonts/MrsSaintDelafield-Regular.ttf);
}
@font-face {
   font-family: articlesFont;
   src: url(../fonts/articles-font/UnifrakturMaguntia-Regular.ttf);
}
@font-face {
   font-family: articlesTitleFont;
   src: url(../fonts/articles-font/titles-of-articles/Solway-Medium.ttf);
}

/* HEADER DIVISION AND TEXT */
.upside-header-division{
   display: flex;
   justify-content: space-between;
}
.underside-header-division{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 20px;
}
.header-line{
   height: 0.2vw;
   width: -webkit-fill-available;
   background-color: black;
   margin: auto 1vw;
   border-bottom: #D2B99D solid 0.1vw;
   outline: black solid 0.1vw;
}

/* TITLE NEWSPAPER */
.the{
   font-size: 80px;
   font-family: theFont;
}
.newspaper-title{
   font-size: 60px;
   width: fit-content;
   margin: 0 auto;
   font-family: newsTitle;
   display: inline-block;
}
@media (max-width: 576px){
   .newspaper-title-container {
      text-align: center!important;
   }
}
.under-title{
   font-size: 25px;
   width: fit-content;
   margin: 0 auto;
   font-family: generalFont;
}

/* NAVBAR */
nav{
   font-family: generalFont;
   margin-top: 20px;
   margin-bottom: 20px;
}
nav li{
   margin-top: auto !important;
   margin-bottom: auto !important;
   list-style-type: none;
}

/* MAIN ARTICLE */
article{
   border: solid black 5px;
}

/* SECTION */
h2{
   font-family: articlesTitleFont;
   display: inline;
   font-size: 40px;
   margin: 0px 0px 0px 2vw;
}
article p{
   font-family: articlesFont;
   font-size: 20px;
   text-align: justify;
}
section{
   padding: 10px;
}

/* POINTERS */
.pointing-rightside{
   transform: rotate(90deg);
   margin-left: 2vw;
   display: inline;
}
@media(max-width: 900px) {
   .regular-size{
      max-height: 70px !important;
   }
}
.regular-size{
   height: 120px;
}
/* IMAGES */
.mp_logo{
 width: 200px;
 margin: 0 auto;
}
.img-center{
text-align: center;}

/* PARALLAX MAGIC EFFECT! */
.parallax_magic {
   /* The image used */
   background-image: url("../img/hogwarts.gif");
 
   /* Set a specific height */
   min-height: 400px; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;

   margin-top: 50px;
   margin-bottom: 40px;
 }


